.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 23px;
  border-radius: 12px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .title {
    flex-grow: 1;
  }
}

.btnContinue {
  background-color: #e31c5f;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 14px 23px;
}

.btnSignIn {
  border-radius: 10px;
  border: 1px #222222 solid;
  font-weight: 600;
  color: #222222;
  margin-bottom: 15px;
  background-color: #fff;

  &:hover {
    opacity: 1;
    background-color: #f7f7f7;
  }
}

.btnFacebook {
  .icon {
    color: #428bff;
  }
}