$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin mobile {
    @media (max-width: #{$sm - 1px}) {
        @content;
    }
}

@mixin mid-moblie {
    @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$md}) and (max-width: #{$lg - 1px}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$lg}) and (max-width: #{$xl - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$xl}) {
        @content;
    }
}